---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="people-icon" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Join us on Slack</h2>
		<p><a href='https://join.slack.com/t/fp-akl-meetup/shared_invite/zt-2sg8ve9aq-0MaA8yJI0lyMZ1VJVDlYkg/'>Click here to join our Slack Workspace</a></p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="youtube-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Past Talks</h2>
		<p>View a few of our past talks here: <a href="https://www.youtube.com/@fpaucklandmeetup8511">FP Auckland Meetup on YouTube</a>.</p>
		<p><small>* these are a bit old, don't worry we're still active</small></p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="microphone-stage" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Offer to give a talk</h2>
		<p>In our Slack Workspace, offer to give a talk in #general</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
